{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Оценка образования</title>
{% endblock %}

{% block head %}
    {% if user.profile.group.name == "Администратор" %}
    <script type="text/javascript" src="{% static 'app_dtgu/js/index/index_prorector.js' %}"></script>
    {% endif %}
{% endblock %}

{% block head_title_1 %}Оценка параметров востребованности и качества образования {% endblock %}
{% block head_title_2 %}Оценка образования{% endblock %}

{% block content %}
    {% if user.profile.group.name == "Администратор" %}

        <div id="second_block" class="form-group col-lg-8">
            <label class="control-label" for="typeMarks">Выберите специальность</label>
            <select id="speciality" data-placeholder="или начните вводить..."
                class="chosen-select form-control">
            </select>
        </div>
         <div class="form-group col-lg-4">
            <label class="control-label" for="typeMarks">Выберите тип оценки</label>
            <select id="typeMarks" data-placeholder="Укажите тип оценки..."
                    class="chosen-select form-control">
            </select>
        </div>
        <div id="third_block_name" class="form-group col-lg-12"></div>
        <div class="form-group col-lg-8">
            <p>Критерии оценки промежуточной аттестации</p>

        </div>
        <div class="col-lg-4">
        <span class="pull-right">Значение (Пороговое значение)</span>
        </div>
        <div id="third_block" class="form-group col-lg-12">
        </div>

        <div id="recommend_block" class="form-group col-lg-12">
        </div>

    {% endif %}

    {% if user.profile.group.name == "Студент" %}
        Ты студент
    {% endif %}
{% endblock %}