{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block head %}

{% endblock %}

{% block head_title_1 %}Dashboard{% endblock %}
{% block head_title_2 %}Dashboard{% endblock %}

{% block content %}
    {% if user.profile.group.name == "Администратор" %}
        <div class="form-group col-lg-2">
            <label class="control-label" for="typeMarks">Тип оценок</label>
            <select id="typeMarks" data-placeholder="Укажите тип оценки..."
                    class="chosen-select form-control">
            </select>
        </div>
        <div id="second_block" class="form-group col-lg-3">

        </div>
         <script type="text/javascript" src="{% static 'app_dtgu/js/index/index.js' %}"></script>
    {% endif %}

    {% if user.profile.group.name == "Студент" %}
        Ты студент
    {% endif %}
{% endblock %}