{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0 user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'app_dtgu/images/favicon.png' %}" type="image/x-icon">
    {% block title %}
        <title>Базовый шаблон</title>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'app_dtgu/css/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app_dtgu/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'app_dtgu/css/Chart.min.css' %}">
    <link rel="stylesheet" href="{% static 'app_dtgu/css/chosen.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app_dtgu/css/fonts.css' %}?11">
    <link rel="stylesheet" type="text/css" href="{% static 'app_dtgu/css/base.css' %}?=11">
    <link rel="stylesheet" type="text/css" href="{% static 'app_dtgu/css/chosen.css' %}?=12">
    <link rel="stylesheet" type="text/css" href="{% static 'app_dtgu/css/btn.css' %}?=11">
    <link rel="stylesheet" type="text/css" href="{% static 'app_dtgu/css/alert.css' %}?=11">
    <link rel="stylesheet" href="{% static 'app_dtgu/css/ag-grid.css' %}">
    <link rel="stylesheet" href="{% static 'app_dtgu/css/ag-theme-material.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app_dtgu/css/tables.css' %}?=11">

    <script type="text/javascript" src="{% static 'app_dtgu/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_dtgu/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_dtgu/js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_dtgu/js/chosen.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_dtgu/js/tilt.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_dtgu/js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_dtgu/js/iconify.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_dtgu/js/function.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_dtgu/js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_dtgu/js/alert.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_dtgu/js/ag-grid-community.min.noStyle.js' %}"></script>
    <script type="text/javascript" src="{% static 'app_dtgu/js/bootstrap-treeview.js' %}"></script>

    <script type="text/javascript" src="{% static 'app_dtgu/js/text_filter.js' %}"></script>

    <script>
        if (is_save_sessions === undefined) {
            $.cookie('save_sessions', true, {path: '/', expires: 1000});
            window.location.href = '/logout_force/';
        }
    </script>

    {% block head %}{% endblock %}
</head>
<body>
<span id="csrf_token">{% csrf_token %}</span>

{% if user.is_authenticated %}
    <nav class="my_nav_bar no-margin">
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="iconify" data-icon="simple-line-icons:list" data-inline="false"></span>
            </button>
            <a href="{% url 'index' %}">
                <img class="logo" src="{% static 'app_dtgu/images/logo.png' %}" alt="LOGO">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
                        <span class="iconify" data-icon="simple-line-icons:list" data-inline="false"></span>
                    </button>
                </li>
            </ul>
            <div class="header-h1 my-not-visible-xs"
                 style="float: left;"><h1
                    class="cut-text">
                {% block head_title_1 %}{% endblock %}</h1>
            </div>

             <div class="pull-right">
                 <div class="header-h1" style="display: inline-block;"
                    data-toggle="modal"
                    title="Обучающие материалы..."
                    data-target="#info_modal"
                 >
                     <h1 style="border: 1px solid rgba(220,71,54,0.56);border-radius: 50px; color: rgba(220,71,54,0.56);">?</h1>
                 </div>
                <div class="header-h1 my-not-visible-xs" style="display: inline-block">
                    <h1>{{ user.first_name }}</h1>
                </div>

            </div>
        </div>
    </nav>
    <div id="wrapper" class="toggled-2">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li>
                    <a href="{% url 'index' %}">
                        <div class="div-table" style="width: 100%">
                            <div class="div-table-cell" style="width: 40px">
                                <span class="iconify" data-icon="simple-line-icons:chart"
                                      data-inline="false"></span>
                            </div>
                            <div class="div-table-cell">
                                Оценка образования
                            </div>
                        </div>
                    </a>
                </li>

                <li>
                    <a id="settings" href="#">
                        <div class="div-table" style="width: 100%">
                            <div class="div-table-cell" style="width: 40px">
                                <span class="iconify" data-icon="simple-line-icons:settings"
                                      data-inline="false">
                        </span>
                            </div>
                            <div class="div-table-cell">
                                Настройки
                            </div>
                            <div class="div-table-cell" style="width: 40px">
                                <i class="fa fa-chevron-down"></i>
                            </div>
                        </div>
                    </a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">

                        {% if user.profile.group.name == "Администратор" %}
                            <li><a href="{% url 'specialty_control' %}">Управление специальностями</a></li>
                            <li><a href="{% url 'account_control' %}">Управление аккаунтами</a></li>
                        {% endif %}
                        <li><a id="signOut" href="#">Выход</a></li>
                    </ul>

                </li>

            </ul>
        </div>
        <div id="sidebar-wrapper-help">
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="header-h1 my-not-visible-large-xs">
                <h1 class="text-center">{% block head_title_2 %}{% endblock %}</h1>
                <span id="refresh_data_main_mobile"></span>
            </div>


            <div class="block_content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% else %}

    <div id="auth_panel">
        <div class="div-table">
            <div class="div-table-cell">
                <div class="form-group text-center">
                    <img class="logo" src="{% static 'app_dtgu/images/logo.png' %}" alt="LOGO">
                </div>
                <form id="auth_panel_form" name="my-form">
                    <div class="form-group">
                        <label class="control-label" for="user_name">Имя пользователя</label>
                        <input id="user_name" type="text" class="form-control"
                               placeholder="Укажите имя пользователя...">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="user_password">Пароль</label>
                        <input id="user_password" type="password" class="form-control"
                               placeholder="Укажите пароль...">
                    </div>
                </form>
                <div class="form-group">
                    <div class="checkbox text-center">
                        <input id="not_save_sessions" type="checkbox" class="my_checkbox" style="display: none;">
                        <label for="not_save_sessions" class="check" style="padding: 0">
                            <svg width="18px" height="18px" viewBox="0 0 18 18">
                                <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
                                <polyline points="1 9 7 14 15 4"></polyline>
                            </svg>
                            <label for="not_save_sessions" style="padding: 0">Это чужой компьютер</label>
                        </label>
                    </div>
                </div>
                <div class="form-group text-center">
                    <button id="signIn" type="button" class="btn btn-primary btn-outline">
                        <span class="fa-stack"><i class="fa fa-sign-in"></i></span>
                        <span class="btn-label">Войти</span></button>
                </div>
                <div class="form-group text-center btn btn-success btn-outline" style="width: 100%">
                    <p>Логин: test</p>
                    <p>Пароль: 12345678</p>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div id="ask_modal" style="display: none;">
    <div class="card">
        <div class="card-body">
            <h3 id="text_ask_modal" class="text-center card-title"></h3>
            <div class="text-center">
                <button id="submit_ask_modal" type="button" class="btn btn-success btn-outline">
                    <span class="fa-stack"><i class="fa fa-check"></i></span>
                    <span class="btn-label my-not-visible-xs">Подтвердить</span></button>
                <button id="dismiss_ask_modal" type="button" class="btn btn-danger btn-outline">
                    <span class="fa-stack"><i class="fa fa-remove"></i></span>
                    <span class="btn-label my-not-visible-xs">Отмена</span></button>
            </div>
        </div>
    </div>
</div>

<section id="load-panel" style="display: none;">
    <div class='sk-three-bounce'>
        <div class='sk-bounce-1 sk-child'></div>
        <div class='sk-bounce-2 sk-child'></div>
        <div class='sk-bounce-3 sk-child'></div>
    </div>
</section>


<div id="info_modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="add_profile"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Руководство пользователя <b>EdReco</b></h4>
            </div>
            <!-- Основное содержимое модального окна -->
            <div class="modal-body" style="text-align: justify;">
            <p style=" text-indent: 1.5em;">
            <b>EdReco</b> предназначена для оценки параметров востребованности и качества образования.
            <p>Веб приложение-коллективного доступа для руководителей, преподавателей, студентов (выпускников)
                образовательных учреждений. Приложение информирует конечного пользователя по запрошенным критериям оценки специализации.</p>
            <p>Позволяет проводить поэтапную аналитику специализаций:<br>
                1.Первичный анализ <br>
                2.Промежуточный<br>
                3.Итоговый.<br>
            </p>
                <p>В этой части мы расскажем как пользоваться EdReco.</p>
                <p>
                    <b>1.	Страница авторизации: </b><br>
                    <i>(логин и пароль можете получить в образовательном учреждении)<br>
                    (тестовый логин/пароль: admin/qwerty123)
                    </i>
                </p>
                <p style="text-align: center">
                    <img src="{% static 'app_dtgu/images/1.png' %}" align="center">
                </p>

                <p>
                    <b>2.	Главная страница:</b>
                </p>
                <p>Главная страница состоит из пяти рабочих областей, области обозначены в соответствии с заданным алгоритмом работы:</p>
                <p><b>Пункт 1. Выбор специализации:</b><br>
                Необходимо выбрать (или ввести) образовательную программу в соответствии с кодом (или названием) специальности.
                </p>
                <p><b>Пункт 2. Выбор типа оценки:</b><br>
                Предварительный тип оценки (анализа) критериев необходим в случае если специальность вводится в университете впервые. Оценка происходит по одному критерию кейса и двум параметрам:
                <br>-Востребованность данной образовательной программы на глобальном рынке труда
                <br>-присутствие схожих программ, модулей, дисциплин в вузах из предметных рейтингов TOP100 QS, THE
                <br>-присутствие востребованных вакансий на рынке труда, у ведущих работодателей (Forbes)
                    <br><b>Промежуточный тип оценки</b> (анализа) критериев необходим в случае если специальность введена в университете, но полный цикл образовательной программы не закончен.
                    Оценка происходит по семи критериям кейса:
                <br>1.	Востребованность данной образовательной программы на глобальном рынке труда
                <br>2.	Средний уровень капитализации выпускника программы
                <br>3.	Релевантность транслируемого знания публикациям в первом квартиле журналов Scopus, WOS за 2-х летний период по заданной тематике
                <br>4.	Степень освоения компетенций в ходе прохождения дисциплины (текущий контроль успеваемости)
                <br>5.	Степень освоения компетенций по итогам прохождения дисциплины (промежуточная аттестация)
                <br>6.	Показатели научной и инновационной активности акторов образовательной программы (НПР и привлеченные специалисты, задействованные в реализации)
                <br>7.	Использование инновационных образовательных технологий в процессе реализации ООП
                    <br><b>Итоговый тип оценки</b> (анализа) критериев необходим в случае если специальность прошла полный цикл образовательной программы. Оценка происходит по двум критериям кейса:
                <br>1.	Инновационные проекты, реализованные в одной итерации ООП
                <br>2.	P2P-оценка внутренних и внешних экспертов
                </p>
                <img src="{% static 'app_dtgu/images/2.png' %}" style="width: 100%">
                <p>
                    <b>Пункт 3. Рабочая область</b>
                    <br>Отображает соответствие критериев и параметров, заданным пороговым значениям.
                    Есть возможность изменять пороговые значения.
                    <br>(Если область подсвечивается зеленым, критерий/параметр соответствует пороговым значениям)
                    <br>(Если область подсвечивается красным, критерий/параметр не соответствует пороговым значениям)</p>
                <p>
                    <b>Пункт 4. Рекомендательная система</b>
                    <br>На основе проведенного сравнения в пункте 3, принимает рекомендательное решение для дальнейших действий.
                </p>
                <p>
                    <b>Пункт 5. Управление EdReco</b>
                </p>
                <img src="{% static 'app_dtgu/images/3.png' %}">
                <p>
                    В данном разделе производится настройка системы EdReco
                    <br>Создание пользователей, специальностей, разграничение прав доступа, новых параметров и критериев оценки.

                </p>

            </div>

        </div>
    </div>
</div>


</body>
</html>
